In [3]:
import pandas as pd
data=[1,2,3,4]
print(data)
series=pd.Series(data)
print(series)

[1, 2, 3, 4]
0    1
1    2
2    3
3    4
dtype: int64

In [5]:
import pandas as pd
data=[1,2,3,4]
#print(data)
series=pd.Series(data,index=['a','b','c','d'])
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
data=['a','b','c','d']
series=pd.Series(data,index=[1,2,3,4])
print(series)

1    a
2    b
3    c
4    d
dtype: object

In [8]:
#dataframe
import pandas as pd
dataframe=pd.DataFrame([1,2,3,4])
print(dataframe)

   0
0  1
1  2
2  3
3  4

In [ ]:
import pandas as pd
import numpy as np
array=pd.array([5000,6000],)

In [3]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randint(0,10,(3,3)),columns=['x1','x2','x3'])
df

   x1  x2  x3
0   2   6   3
1   2   9   5
2   6   6   5

In [8]:
#concatenating along rows(axis=0)
import pandas as pd
df1=pd.DataFrame({
    'A':['a0','a1','a2'],
    'B':['b0','b1','b2']
})
print(df1)
df2=pd.DataFrame({
    'A':['a3','a4','a5'],
    'B':['b3','b4','b5']
})
print(df2)
res=pd.concat([df1,df2],ignore_index=True)
print(res)

    A   B
0  a0  b0
1  a1  b1
2  a2  b2
    A   B
0  a3  b3
1  a4  b4
2  a5  b5
    A   B
0  a0  b0
1  a1  b1
2  a2  b2
3  a3  b3
4  a4  b4
5  a5  b5

In [7]:
#concatenating along columns(axis=1)
import pandas as pd
df1=pd.DataFrame({
    'A':['a0','a1','a2'],
    'B':['b0','b1','b2']
})
print(df1)
df2=pd.DataFrame({
    'A':['a3','a4','a5'],
    'B':['b3','b4','b5']
})
print(df2)
res=pd.concat([df1,df2],axis=1)
print(res)

    A   B
0  a0  b0
1  a1  b1
2  a2  b2
    A   B
0  a3  b3
1  a4  b4
2  a5  b5
    A   B   A   B
0  a0  b0  a3  b3
1  a1  b1  a4  b4
2  a2  b2  a5  b5

In [11]:
#merge operations
#inner merge
import pandas as pd
df1=pd.DataFrame({'key':['a','b','c','d'],
                  'value':[1,2,3,4]})
df2=pd.DataFrame({'key':['b','d','e','f'],
                  'value':[5,6,7,8]})
res=pd.merge(df1,df2,on='key',how='inner')
print(res)

  key  value_x  value_y
0   b        2        5
1   d        4        6

In [12]:
#left merge
import pandas as pd
df1=pd.DataFrame({'key':['a','b','c','d'],
                  'value':[1,2,3,4]})
df2=pd.DataFrame({'key':['b','d','e','f'],
                  'value':[5,6,7,8]})
res=pd.merge(df1,df2,on='key',how='left')
print(res)

  key  value_x  value_y
0   a        1      NaN
1   b        2      5.0
2   c        3      NaN
3   d        4      6.0

In [13]:
#right merge
import pandas as pd
df1=pd.DataFrame({'key':['a','b','c','d'],
                  'value':[1,2,3,4]})
df2=pd.DataFrame({'key':['b','d','e','f'],
                  'value':[5,6,7,8]})
res=pd.merge(df1,df2,on='key',how='right')
print(res)

  key  value_x  value_y
0   b      2.0        5
1   d      4.0        6
2   e      NaN        7
3   f      NaN        8

In [14]:
#outer merge
import pandas as pd
df1=pd.DataFrame({'key':['a','b','c','d'],
                  'value':[1,2,3,4]})
df2=pd.DataFrame({'key':['b','d','e','f'],
                  'value':[5,6,7,8]})
res=pd.merge(df1,df2,on='key',how='outer')
print(res)

  key  value_x  value_y
0   a      1.0      NaN
1   b      2.0      5.0
2   c      3.0      NaN
3   d      4.0      6.0
4   e      NaN      7.0
5   f      NaN      8.0

In [2]:
import pandas as pd
res=pd.read_csv("C:/Users/ASUS/Downloads/mtcars2.csv")
print(res)

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [27]:
import pandas as pd
print(res.head())
print(res.tail())
print(type(res))

       Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0       Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1   Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2      Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3  Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4     Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3

   carb
0     4
1     4
2     1
3     1
4     3
           Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
39  Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40           Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41        Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42     Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43      Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1
<class 'pandas.core.frame.DataFrame'>

In [28]:
res.shape

(44, 12)

In [29]:
#returns the concise summary of columns
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44 non-null     object
 1   mpg         44 non-null     float64
 2   cyl         44 non-null     int64
 3   disp        44 non-null     float64
 4   hp          44 non-null     int64
 5   drat        44 non-null     float64
 6   wt          44 non-null     float64
 7   qsec        44 non-null     float64
 8   vs          44 non-null     int64
 9   am          44 non-null     int64
 10  gear        44 non-null     int64
 11  carb        44 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 4.3+ KB

In [32]:
#means
mean_1=res.mean(numeric_only=True)
mean_1

mpg      19.722727
cyl       6.318182
disp    244.556818
hp      146.795455
drat      3.559773
wt        3.327750
qsec     17.750227
vs        0.409091
am        0.363636
gear      3.568182
carb      2.727273
dtype: float64

In [33]:
#median
median_1=res.median(numeric_only=True)
median_1

mpg      18.400
cyl       7.000
disp    266.900
hp      150.000
drat      3.580
wt        3.435
qsec     17.420
vs        0.000
am        0.000
gear      3.000
carb      2.000
dtype: float64

In [35]:
#standard deviation
stdev=res.std(numeric_only=True)
stdev

mpg       6.780679
cyl       1.827092
disp    134.989997
hp       66.454244
drat      0.559657
wt        1.113763
qsec      1.535409
vs        0.497350
am        0.486607
gear      0.695424
carb      1.515250
dtype: float64

In [36]:
#max
max_1=res.max(numeric_only=True)
max_1

mpg      33.900
cyl       8.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec     22.900
vs        1.000
am        1.000
gear      5.000
carb      8.000
dtype: float64

In [37]:
#count
count_1=res.count(numeric_only=True)
count_1

mpg     44
cyl     44
disp    44
hp      44
drat    44
wt      44
qsec    44
vs      44
am      44
gear    44
carb    44
dtype: int64

In [39]:
res.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,19.722727,6.318182,244.556818,146.795455,3.559773,3.327750,17.750227,0.409091,0.363636,3.568182,2.727273
std,6.780679,1.827092,134.989997,66.454244,0.559657,1.113763,1.535409,0.497350,0.486607,0.695424,1.515250
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.200000,4.000000,120.250000,96.500000,3.077500,2.465000,17.020000,0.000000,0.000000,3.000000,2.000000
50%,18.400000,7.000000,266.900000,150.000000,3.580000,3.435000,17.420000,0.000000,0.000000,3.000000,2.000000
75%,22.800000,8.000000,350.250000,186.250000,3.920000,3.780000,18.520000,1.000000,1.000000,4.000000,4.000000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.000000

In [9]:
#cleaning
res=res.rename(columns={'Unnamed: 0':'model'})

res

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [10]:
res=res.rename(columns={'wt':'weight'})

res

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [45]:
res.qsec=res.qsec.fillna(res.qsec.mean())
res

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [46]:
import pandas as pd
res.iloc[2:11,5:9]

    drat  weight   qsec  vs
2   3.85   2.320  18.61   1
3   3.08   3.215  19.44   1
4   3.07   3.780  18.00   0
5   3.15   3.440  17.02   0
6   2.76   3.460  17.02   1
7   3.21   3.570  15.84   0
8   3.69   3.190  20.00   1
9   3.92   3.150  22.90   1
10  3.92   3.440  18.30   1

In [48]:
res.loc[:,'mpg']

0     21.0
1     21.0
2     22.8
3     21.4
4     15.2
5     18.7
6     18.1
7     14.3
8     24.4
9     22.8
10    19.2
11    17.8
12    16.4
13    10.4
14    17.3
15    15.2
16    15.2
17    10.4
18    10.4
19    14.7
20    32.4
21    30.4
22    33.9
23    21.5
24    15.2
25    15.5
26    15.2
27    13.3
28    19.2
29    27.3
30    26.0
31    30.4
32    15.8
33    19.7
34    15.0
35    21.4
36    15.2
37    10.4
38    10.4
39    14.7
40    32.4
41    30.4
42    33.9
43    21.5
Name: mpg, dtype: float64

In [11]:
import pandas as pd
res.sort_values(by='cyl')

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4

In [4]:
res.sort_values(by='mpg',ascending=False)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4

In [12]:
#filter
res['cyl']>=6

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24     True
25     True
26     True
27     True
28     True
29    False
30    False
31    False
32     True
33     True
34     True
35    False
36     True
37     True
38     True
39     True
40    False
41    False
42    False
43    False
Name: cyl, dtype: bool

In [6]:
filter1=res['cyl']>6
filtered_new=res[filter1]
filtered_new

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4

In [7]:
res[(res["cyl"]>6)& (res["hp"]>300)]

       Unnamed: 0   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
34  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8

In [8]:
new=res[res['cyl']>6]
new

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4

In [15]:
sort_values=(res['cyl']>6) & (res['mpg']>20)
sort_values

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
dtype: bool